.modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    border-radius: 8px;
    padding: 2rem;
    background-color: white;
    /* width: 25em; */
   
    width: 550px;
    height:550px;
  }
  
  .modal .btn {
    display: block;
    margin: auto;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
  }
  
  .form-group label {
    margin-bottom: 0.2rem;
  }
  
  .error {
    background-color: #f8d7da;
    color: #df4759;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
  }
  .text-themgoive{
    text-align: center;
  }
.nhaptengoive{
    position: relative;
    background-color:rgba(237, 237, 237, 1);
    width:300px;
    height:24px;
    border-radius:7px;
    left:10px;
    top:10px;
}
.nhapstt{
  position: relative;
  background-color:rgba(237, 237, 237, 1);
  width:50px;
  height:24px;
  border-radius:7px;
  left:50px;
  top:10px;
}
.text-ngayapdung{
  position: relative;
  top:20px;
}
.nhapngayapdung{
  position: relative;
    background-color:rgba(237, 237, 237, 1);
    width:140px;
    height:24px;
    border-radius:7px;
    left:10px;
    top:40px;
}
.hethan{
  position: relative;
  left:300px;
  top:-50px;
}
.ngayhethan{
  position: relative;
    background-color:rgba(237, 237, 237, 1);
    width:140px;
    height:24px;
    border-radius:7px;
    top:20px;
}
.vele{
  position: relative;
  background-color:rgba(237, 237, 237, 1);
  width:140px;
  height:24px;
  border-radius:7px;
  left:100px;
  top:-20px;
}
.vecombo{
  position: relative;
  background-color:rgba(237, 237, 237, 1);
  width:140px;
  height:24px;
  border-radius:7px;
  left:100px;
  top:-20px;
}

.text-stt{
  position: relative;
  top:50px;
}
.nhapmagoi{
  position: relative;
  background-color:rgba(237, 237, 237, 1);
  width:200px;
  height:24px;
  border-radius:7px;
  left:280px;
  top:-50px;
}
.text-magoi{
  position: relative;
  top:-10px;
  left:200px;
}
.date{
  position: relative;
  top:-50px;
}
.giave-ad-combo{
  position: relative;
  top:-60px;
}
.nuttrangthai{
  position: relative;
  top:-50px;
}
.nut{
  position: relative;
  top:-50px;
}
.btn-luu{
  position: relative;
  left:150px;
  top:10px;
  width:100px;
  height:40px;
 
 border: 2px solid  rgba(255, 153, 60, 1);
  border-radius:5px;
  background-color:rgba(255, 153, 60, 1);
  color:  rgb(255, 255, 255); 
}
.btn-huy{
  position: relative;
  left:200px;
  top:10px;
  width:100px;
  height:40px;
 
 border: 2px solid  rgba(255, 153, 60, 1);
  border-radius:5px;
  background-color:white;
  color:  rgba(255, 153, 60, 1); 
}
  